.footer{
    padding: 2rem;
    background-color: #000000;
}
.icon{
    font-size: 2rem;
    color : white
}

.wrapper{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;

}
.txt{
    justify-content: space-between;
    text-decoration: none;
}


.socialLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    display: flex;
    align-items: center;
  }
  
  .icon {
    font-size: 24px;
    margin-right: 5px;
  }
  
  .footer {
    position: relative;
  }
  
  .copyRight {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
  


@media screen and (min-width: 1024px)  { 
    .icon{
        font-size: 1.5rem;
        margin-right: 2rem;
    }
    .wrapper{
        display: flex;
        width: fit-content;
    }
    .footer{
        padding: 5rem;
    }
    .icon:hover{
        transform: scale(1.5);
        transition: all 1s;
    }

}

.socialLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    display: flex;
    align-items: center;
  }
  
  .icon {
    font-size: 24px;
    margin-right: 5px;
  }
  